body {
    background-color: darkred;
}

.theFuckingnavBar {
    background: linear-gradient( to right, rgb(207, 0, 0) 20%, rgb(85, 0, 0) 70%);
    height: 80px;
    display: flex;
    
    align-items: center;
    list-style: none;
    text-decoration: none;
    gap: 50px;

}

.theFuckingnavBar > a {
    color: rgb(128, 0, 0);
    position: relative;
    left: 100px;
    text-decoration: none;
    font-family: helvetica;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background 0.3s;
    
}

.theFuckingnavBar > a:hover {
    color: rgb(255, 0, 0);
}

#footer-div {
    display: flex;
    background: darkred;
    background-size: cover;
    height: 500px;
    padding: 50px;
}

#footer-div > img {
    height: 50px;
    width: 50px;
}

#footer-div > a {
    font-family: helvetica;
    font-size: 20pt;
    color: rgb(41, 0, 0);
    text-decoration: none;
    margin-left: 50px;
}



#footer-div > p {
    font-family: system-ui;
    font-size: 15pt;
    color: rgb(255, 0, 0);
}

#footer-div > #footer-contacts-list > img {
    background-size: cover;
    height: 80px;
    width: 80px;

}